/* Global styles */

body, html {
    background-color: #f9faf4; 
    height: 100vh;
    margin: 0;
    padding: 0;
    cursor: url("./Images/Paw_Cursor.png"), auto, default;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    letter-spacing: 0.5px;
    color: #4a6163;
    text-align: center;
    padding-top: 30px;
    margin: 10px;
  }

h2 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0.5px;
    color: #4a6163;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    margin: 15px;
    letter-spacing: 0.5px;
}

/* Global icon animation style */

@keyframes rotateIcon {
    0%, 100% {
        transform: rotate(-10deg); 
    }
    50% {
        transform: rotate(10deg); 
    }
}

/* Navigation */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9faf4;
    position: sticky;
    z-index: 2000; /* Ensure it appears above other content */
}

.navigation {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

li.navelement {
   margin-right: 20px;
   text-align: center;
}

.navigation li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #4a6163;
}

.navigation li a:hover {
    color: #f17a7e;
}

.logo img {
    max-height: 30px;
    max-width: auto;
}

.menu-toggle {
    display: none; /* Hide the menu toggle by default on larger screens */
}

/* Hero section */

#hero {
    align-items: center;
    justify-items: center;
  }

  .hero-btn {
    width: 150px;
    height: 50px;
    bottom: 0;
    margin: 0 auto; /* Center the button horizontally */
    display: block; 
    text-align: center;
    background-color: #f17a7e;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #f9faf4;
    border: none;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
 }
 
 .hero-btn:hover {
     background-color: #f9a66c;
 }

 .medal-img {
    height: 150px;
    width: auto;
    filter: invert(36%) sepia(7%) saturate(1282%) hue-rotate(136deg) brightness(93%) contrast(87%);
    animation: rotateIcon 2s linear infinite;
}

/* Intro section */
  
  #intro {
      padding-top: 40px;
      padding-bottom: 40px;
      letter-spacing: 0.5px;
      line-height: 20px;
      background-color: #4a6163;
      text-align: center;
      color:#ffffff;
  }

/* Contestants section */

#contestants {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#contestants h2 {
    color: #4a6163;
    letter-spacing: 0.5px;
}

.heart img {
    height: 100px;
    width: auto;
    filter: invert(84%) sepia(36%) saturate(7373%) hue-rotate(310deg) brightness(102%) contrast(89%);
    animation: rotateIcon 2s linear infinite;
}

#cards {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px; /* Add padding to the right */
}

#cards h3 {
    color: #f9faf4;
    letter-spacing: 0.5px;
}

.card-gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    min-height: 400px;
    gap: 20px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.card-gallery::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Opera */
}

.card:first-child {
    padding-left: 20px;
}

.card {
    text-align: center;
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 300px;
    height: 300px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    background-color: #4a6163;
    color: #f9faf4;
    text-align: center;
    transform: rotateY(180deg);
    border-radius: 10px;
}


.card-back p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    padding: 10px;
    letter-spacing: 0.5px;
}

.card-back .like {
    font-style: italic;
}

.dog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.like {
    text-align: center;
    margin-top: 10px;
}

.like-btn {
    display: block;
    margin: 10px auto;
    background-color: #4a6163; 
    color: #f9faf4;;
    border: none;
    width: 100px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 10px;
}

.like-btn:hover {
    background-color: #f17a7e;
    color: #f9faf4;
}

/* Leader section */

#leader {
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #f17a7e;
}

#leader h2 {
    color: #f9faf4;
    letter-spacing: 0.5px;
}

.most-liked-dog-image {
    justify-self: center;
    height: 400px;
    border-radius: 10px;
    width: auto;
    margin-bottom: 30px;
}

.most-liked-dog-name {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
   color: #f9faf4;
   position: relative;
   letter-spacing: 0.5px;
}

.most-liked-dog-name::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f17a7e; 
    animation: reveal 2s forwards infinite;
}

@keyframes reveal {
    0% {
        right: 0%; 
    }
    100% {
        right: -100%; 
    }
}

.confetti-container {
    position: relative; /* Ensure the confetti stays within this container */
}

.confetti {
    width: 15px;
    height: 15px;
    background-color: #f2d74e;
    position: absolute;
    left: 50%;
    top: 0;
    animation: confetti 4.5s ease-in-out infinite;
    transform-origin: left top;
  }
  .confetti:nth-child(1) {
    background-color: #f2d74e; left: 10%; animation-delay: 0;
  }
  .confetti:nth-child(2) {
    background-color: #95c3de; left: 20%; animation-delay: -5s;
  }
  .confetti:nth-child(3) {
    background-color: #ff9a91; left: 30%; animation-delay: -3s;
  }
  .confetti:nth-child(4) {
    background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
  }
  .confetti:nth-child(5) {
    background-color: #95c3de; left: 50%; animation-delay: -4s;
  }
  .confetti:nth-child(6) {
    background-color: #ff9a91; left: 60%; animation-delay: -6s;
  }
  .confetti:nth-child(7) {
    background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
  }
  .confetti:nth-child(8) {
    background-color: #95c3de; left: 80%; animation-delay: -2s;
  }
  .confetti:nth-child(9) {
    background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
  }
  .confetti:nth-child(10) {
    background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
  }

  @keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
    50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
    75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
    100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
  }


/* Form section */

.dog-tongue img {
    height: 100px;
    width: auto;
    filter: invert(97%) sepia(77%) saturate(277%) hue-rotate(302deg) brightness(108%) contrast(96%);
    animation: rotateIcon 2s linear infinite;
}

#form {
    overflow: auto;
    width: auto;
    text-align: center;
    background-color: #4a6163;
    padding-bottom: 15px;
  }

  #form p {
    padding-top: 0;
    padding-bottom: 20px;
    color: #f9faf4;
  }

  #form h2 {
    color: #f9faf4;
  }
  
  input[type=text], select, textarea {
    width: 50%; 
    padding: 12px; 
    border: none;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 10px; 
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 20px;
    border-radius: 10px;
  }
  
  input[type=submit] {
    background-color: #f17a7e;
    color: #f9faf4;
    letter-spacing: 0.5px;
    border: none;
    width: 150px;
   height: 50px;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-style: normal;
   font-size: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  input[type=submit]:hover {
    background-color: #ffffff;
    color: #f17a7e;
  }

/* Footer section */

footer {
    display: flex;
    justify-content: space-between;
    background-color: #f9faf4;
    padding-left: 15px;
}

footer img {
    padding: 10px 20px;
}

footer p {
    color: #4a6163;
}

/* Responsive styles */

@media (max-width: 768px) {
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

#cards h3 {
    font-size: 22px;
}

.bark {
    font-size: 35px;
}

p {
    font-size: 13px;
}

.card-back p {
    font-size: 13px;
}

.most-liked-dog-name {
    font-size: 25px;
}

input[type=text], select, textarea {
    width: 80%; 
}
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show the menu toggle on smaller screens */
        cursor: pointer;
    }

    .navigation {
        display: none; /* Hide the navigation by default on smaller screens */
    }

    .navigation.open {
        display: flex; /* Show the navigation when menu is open */
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #4a6163;
        margin: 4px 0;
        transition: transform 0.4s;
    }

    .bar.open {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .bar.open:nth-child(2) {
        opacity: 0;
    }

    .bar.open:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
    }
}
