body {
    background-color: #DCF1FA;
    text-align: center;
}

.logo {
    width: 50px;
    height: auto;
}

.card {
    text-align: center;
    border: black 1px;
    display: flex;
}

.dog-image {
    justify-self: center;
    height: 12rem;
    width: auto;
}